<!DOCTYPE html>
<html>

<head>
    <title>Logueo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<!-- views/login.hbs -->

<body>
    <h1>Login</h1>
    <div>
        <form id="loginForm" method="POST" action="/login">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required autocomplete="current-email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required autocomplete="current-password">

            <button type="submit">Login</button>
        </form>
        <div id="botonera" style="display: flex; gap: 10px;">
            <form id="restoreForm" method="POST" action="/restore">
                <button type="button" onclick="restorePassword()">Restaurar la contraseña</button>
            </form>
            <a href="/register"><button type="button">Registrarse</button></a>
            <a href="/githubcallback"><button type="button">Loguearse con GitHub</button></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function restorePassword() {
                var emailValue = document.getElementById("email").value;

                // Verifica si el campo de correo electrónico está vacío
                if (emailValue.trim() === "") {
                    // Muestra un SweetAlert pidiendo el ingreso de un correo electrónico
                    Swal.fire({
                        title: 'Ingrese su correo electrónico',
                        text: 'Por favor, ingrese su dirección de correo electrónico para restablecer la contraseña.',
                        icon: 'warning',
                        confirmButtonText: 'Aceptar'
                    });
                } else {
                    // Configura la acción del formulario y lo envía
                    document.getElementById("restoreForm").action = "/restore?email=" + emailValue;
                    document.getElementById("restoreForm").submit();

                    // Muestra un SweetAlert indicando que el correo electrónico se ha enviado correctamente
                    Swal.fire({
                        title: 'Correo electrónico enviado',
                        text: 'Se ha enviado un correo electrónico para restablecer la contraseña. Por favor, revise su bandeja de entrada.',
                        icon: 'success',
                        confirmButtonText: 'Aceptar'
                    });
                }
            }
        </script>
    </div>
</body>

</html>




