<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logueo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #login-container {
            max-width: 400px;
            width: 100%;
        }

        #botonera {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            align-items: center; /* Alineación vertical en el centro */
        }

        #botonera button {
            width: 100%; /* Ancho del 100% para ocupar el contenedor */
        }
    </style>
</head>

<body>
    <div id="login-container">
        <h1 class="text-center">Login</h1>
        <form id="loginForm" method="POST" action="/login">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required autocomplete="current-email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required autocomplete="current-password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <div id="botonera">
            <form id="restoreForm" method="POST" action="/restore">
                <button type="button" class="btn btn-link" onclick="restorePassword()">Restaurar la contraseña</button>
            </form>
            <a href="/register" class="btn btn-success btn-block">Registrarse</a>
            <a href="https://finalbackend-production-fe31.up.railway.app/" class="btn btn-warning btn-block">Loguearse con GitHub</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function restorePassword() {
            var emailValue = document.getElementById("email").value;

            // Verifica si el campo de correo electrónico está vacío
            if (emailValue.trim() === "") {
                // Muestra un SweetAlert pidiendo el ingreso de un correo electrónico
                Swal.fire({
                    title: 'Ingrese su correo electrónico',
                    text: 'Por favor, ingrese su dirección de correo electrónico para restablecer la contraseña.',
                    icon: 'warning',
                    confirmButtonText: 'Aceptar'
                });
            } else {
                // Configura la acción del formulario y lo envía
                document.getElementById("restoreForm").action = "/restore?email=" + emailValue;
                document.getElementById("restoreForm").submit();

                // Muestra un SweetAlert indicando que el correo electrónico se ha enviado correctamente
                Swal.fire({
                    title: 'Correo electrónico enviado',
                    text: 'Se ha enviado un correo electrónico para restablecer la contraseña. Por favor, revise su bandeja de entrada.',
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                });
            }
        }
    </script>
</body>

</html>
