<!DOCTYPE html>
<html>
<head>
    <title>Compra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Compra</h1>
        <p>Email: {{email}}</p>
        <p>Total: $ {{result.total}}</p>

        <!-- Formulario para ingresar el teléfono -->
        <form id="buy" action="/carts/{{cart}}/purchase" method="POST" data-cart="{{cart}}">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="phone" class="col-form-label">Teléfono:</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="phone" name="phone" class="form-control form-control-sm" required>
                </div>
                <div class="col-auto">
                    <button id="payButton" type="submit" class="btn btn-success btn-lg float-right">Pagar</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/scripts/ticketScript.js"></script>
</body>
</html>
