<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Compra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Compra</h1>

            <div class="d-flex align-items-center mb-2">
                <p class="m-0">Email:</p>
                <p class="ml-2 m-0">{{email}}</p>
            </div>

            <div class="d-flex align-items-center mb-2">
                <p class="m-0">Total:</p>
                <p class="ml-2 m-0">$ {{result.total}}</p>
            </div>

            <!-- Formulario para ingresar el teléfono -->
            <form id="buy" action="/carts/{{cart}}/purchase" method="POST" data-cart="{{cart}}">
                <div class="form-group">
                    <label for="phone" class="col-form-label">Teléfono:</label>
                    <input type="text" id="phone" name="phone" class="form-control form-control-sm" required>
                    <div class="invalid-feedback">Por favor, ingresa tu número de teléfono.</div>
                </div>

                <div class="text-center">
                    <button id="payButton" type="submit" class="btn btn-success btn-lg" disabled>Pagar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/scripts/ticketScript.js"></script>

<script>
    document.getElementById('phone').addEventListener('input', function () {
        updatePayButtonState();
    });

    function updatePayButtonState() {
        const phoneInput = document.getElementById('phone');
        const payButton = document.getElementById('payButton');

        if (phoneInput.checkValidity()) {
            payButton.disabled = false;
        } else {
            payButton.disabled = true;
        }
    }

    // Agrega un listener al formulario para habilitar/deshabilitar el botón según la validación de los campos
    document.getElementById('buy').addEventListener('input', function () {
        updatePayButtonState();
    });
</script>

</body>

</html>
